web:
  allowed-origins:
    - http://localhost:5173 # front
    - http://localhost:5555 # postman
  unauthenticated-endpoints:
    - "/auth/**"
    - "/v3/api-docs/**"
    - "/swagger-ui/**"
    - "/tournaments/list/**"
    - "/tournaments/*/bracket/subscribe/*"

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tinkoff
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: tinkoff
  mvc:
    log-request-details=true:
logging:
  level:
    org:
      springframework:
        web: DEBUG

springdoc:
  swagger-ui:
    path: "/swagger-ui/ui.html"